html,
body,
div,
p,
a,
iframe {
  -webkit-tap-highlight-color: transparent;
}

.main {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 2000px;
}

/* +++++++++++++++++++++++++++ template +++++++++++++++++++++++++++ */
html, body {
  overflow: auto;
}
html, body,
h1, h2, h3, h4, h5, h6, p,
ol, ul, li {
  font-family: 'Barlow','Montserrat Light',Montserrat,'Sawarabi Gothic',"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Yu Gothic UI","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 200;
}
ol, ul, li {
  list-style-type: none;
}
body {
  background-color: transparent;
  width: 100%;
}

/* +++++++++++++++++++++++++++ back-3d +++++++++++++++++++++++++++ */
#canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: auto;
  opacity: 0.7;
}
/* +++++++++++++++++++++++++++ main-all +++++++++++++++++++++++++++ */
.main-all {
  position: absolute;
  z-index: 100;
  top: 80%;
  left: 0;
  width: 100%;
  overflow: auto;
}


/* +++++++++++++++++++++++++++ ver.?? +++++++++++++++++++++++++++ */
.ver {
  font-size: 22px;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

/* +++++++++++++++++++++++++++ setumei +++++++++++++++++++++++++++ */
.setumei-img {
  position: relative;
  height: 50px;
  margin-bottom: 100px;
}
.setumei-img > img {
  width: 100%;
  height: 100%;
  opacity: .5;
}
.book-setumei {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  line-height: 50px;
}

.setumei-text {
  display: none;
}

/* +++++++++++++++++++++++++++ flex +++++++++++++++++++++++++++ */
.flex {
  display: flex;
}

/* +++++++++++++++++++++++++++ block +++++++++++++++++++++++++++ */
.block {
  width: 1500px;
  margin: auto;
  margin-bottom: 2.5em;
}

.block-about {
  width: 40%;
  margin: .5em;
}

.about-me {
  font-size: 3em;
  text-align: center;
  border-top: 3px dashed #FAFAfA;
  border-bottom: 3px dashed #FAFAfA;
  margin-top: 5px;
}
.block-about-text-text {
  font-size: 1.5em;
}

.block-line {
  height: 800px;
  width: 60%;
  margin: .5em;
}
.block-line-img {
  height: 800px;
  width: 50%;
}
.block-line-img-text {
  margin: auto .5em;
}
.block-line-img-text-title {
  font-size: 2.5em;
  margin: .5em 0;
}
.block-line-img-text-title-text {
  font-size: 1.5em;
  line-height: 50px;
}
.block-line-img img {
  width: 300px;
  height: 300px;
  margin: auto 0 auto auto;
  text-align: right;
}

.block-map {
  width: 1000px;
  height: 800px;
  margin: auto;
  position: relative;
}
.block-map > p {
  font-size: 1.6em;
  position: absolute;
  top: -0.8em;
  left: -0.5em;
  border-bottom: 3px dashed black;
}

.block-Twitter {
  width: 30%;
  margin: .5em;
}
.block-Twitter-text > p {
  font-size: 2em;
  padding: .5em;
  text-align: center;
}

/* +++++++++++++++++++++++++++ ver +++++++++++++++++++++++++++ */
.ver {
  color:white;
  margin: 0 auto;
  align-items: center;
}
