@media (max-width: 850px) {
  #bg2 {
    width: 30%;
  }

  #hanabi_1 {
    width: 66%;
  }
  #hanabi_2 {
    width: 52%;
  }
  #hanabi_3 {
    width: 72%;
    left: 3%;
  }
  #hanabi_4b {
    width: 91%;
  }
  #hanabi_4 {
    width: 91%;
  }
  #hanabi_4a {
    width: 91%;
  }
  #hanabi_5 {
    width: 65%;
    top: 9000px;
  }
}
